**~$.*docx
**/.idea/

**/__pycache__/

*.png

Exercises/ex2_kalman/.ipynb_checkpoints/

Exercises/ex3_kalman_advanced/docs/~$f_kalman.docx

Exercises/ex2_kalman/2d_Kalman_Solution.ipynb

Exercises/ex3_kalman_advanced/src/demo.py